
/*------------------last-css------------------*/
.infocenter_cont{position: relative; padding: 11px 0 0 12px;
	&:after{content: ''; display:block; clear: both;}
	h1{padding-bottom: 16px;}
}
.tabs{position: relative; margin-bottom:12px; 
	li{display: inline-block; margin-right: 2%;
		a{display:block; font-size:12px;  color:#687f91; position:relative;
			span{height:17px; padding:0 6px; border-radius:10px; display:block; position:absolute; top:-13px; right:-13px; background-color:$color-pink; text-align:center;  line-height:17px; font-size:10px; color:#fff; }
			&:after{display:none; content: ''; z-index:1; position:absolute; left:-2px; right:-2px; bottom:-6px; height:4px; background-color:$color-pink;}
		}
	}
	.active{
		a{color:$color-pink;
			&:after{display:block;}
		}
	}
	&:after{display:block; content:''; width:100%; height:2px; background:#eaeff3; position:absolute; left:0; bottom:-6px;}
}
.cms_block_cont{position:relative;     padding-bottom: 11px;
	&:after{display:block; clear:both; content:'';}
}
.modules_tabs{display:block; clear:both; margin-bottom:13px;
	&:after{display:none; }
}
.cms_modules_blocks{padding-right: 260px; max-width: 668px;     position: relative;}
.cms_left_block{
	h2{font-size:16px; line-height:1.25; margin-bottom: 2px;}
}
.cms_right_block{width: 229px; position: absolute; top:0; right:0; padding-top:15px;}
.ins_modul_lines{position: relative; 
	&:after{display:block; clear:both; content:'';}
}
.ins_modul_line{height: 51px; width: 100%; border-bottom:1px solid$color-bord; display: table; 
	&:last-child{border-bottom-color:transparent;}
}
.ins_modul_ico{width: 160px;vertical-align: middle; display: table-cell;}
.ins_modul_cont{overflow: hidden; font-size: 12px; color:$text-color; line-height: 1.75;vertical-align: middle; display: table-cell;}
.integ_opport{width: 100%; border:1px solid $color-bord; padding:9px 30px 29px;
	h3{line-height:1.13; font-weight: bold;     padding-bottom: 10px;}
	.btn{width:166px; height:40px; line-height:40px; font-size:12px;     font-weight: 400;}
}
.integ_opport_dec{font-size:12px; color:$color-black; font-style:italic;    margin-bottom: 20px;   line-height: 1.45;}
.modules_tabs_sel{display: none;}
.tabs_sel{display: none;}

.insr_block{position: relative; background-color:#f8fafb; border:1px solid$color-bord; padding:0 9px; max-width:666px;     margin-top: 33px;     margin-bottom: 31px;
	&:after{display:block; clear: both; content:'';}
}
.insr_block_line{position: relative; border-bottom:1px solid $color-bord; padding: 12px 0 8px;
	&:last-child{border-bottom:none;}
	&:after{display:block; clear: both; content:'';}
}
.insr_title{float: left; width:65%; font-size: 11px; 
	span{font-weight: bold;}
}
.insr_link{float: left; width:35%;
	a{display:inline-block; font-size: 11px; color: #687f91; position:relative;  top: -4px;     line-height: 1.2; text-decoration:none; border-bottom:1px dashed #687f91;}
}
.block_itabs{position:relative; height: auto;  background: transparent; max-width: 666px;
	&:after{display:block; clear: both; content:'';}
	.widg_pane{height: auto; position:relative; top:auto; left:auto;     }
	.widg_pane.active{  padding-bottom: 50px;}
	.widg_tabs{
		li{background-color: $color-bord; height: 50px;
			a{display:block; font-size: 18px; font-weight: bold; color: #687f91;     height: 50px;     padding-top: 15px;}
		}
		.active{background: transparent;
			a{color: $color-pink;}
		}
	}
}
.c_options_table{margin-top: -5px;
	.td-num{width: auto; min-width: auto;}
}
.calc_block{position:relative; border-bottom:1px solid $color-bord; padding: 9px 0px 3px;     margin: 0 19px;
	&:after{display:block; clear: both; content: '';}
	h2{font-size:16px;}
	h3{font-size: 12px;     padding: 0;     margin-top: -3px; margin-bottom: 8px;}
	&:last-child{border-bottom:none;}
}
.calc_cols{position:relative;
	&:after{display:block; clear:both; content:'';}
}
.calc_col{float:left;    width: 46.5%;     margin-left: 6.8%;
	&:nth-child(2n+1){margin-left:0;}
	
}
.c_options_tabel{position:relative; font-size: 11px; font-weight:400; width:100%;
	td{}
	tr{}
	.td-name {}
	.td-num {}
}
/*------------------------------------------------------------------------------------------------*/
.c_options_table {width: 100%; margin-bottom: 0px;       margin-top: 0px; 
	.tr{ width:100%;}
	.td {height: 40px;color: #4e4e4e;     vertical-align:middle; white-space:nowrap; font-size:11px; padding-top:4px;position:relative;z-index:1; display:table-cell;transition:$default-transition;
		&:first-child:before {content:'';z-index: 0;left: -10px;width: 10px;top: 0;height: 100%; position: absolute;transition:$default-transition;}
		&:last-child:before {content:'';z-index: 0;right: -10px;width: 10px;top: 0;height: 100%; position: absolute;transition:$default-transition;}
	}      
	.td-name {width: 70%;}   
	.td-num {min-width:75px; width: 30%;}
	.tr + .tr {border-top:1px solid $color-bord;}
	.td-hid {white-space: nowrap;position: relative; overflow: hidden; padding-right: 10px;margin-right: 7px; transition:$default-transition;
		&:after {content:'';position: absolute;top:0;bottom: 0;right: 0; width: 30px; 
			background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
			background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);}
	}
	.tr:hover {		
		.td {position: relative; background: $bg-hov;
			&:first-child:before {background: $bg-hov;}
			&:last-child:before {background: $bg-hov;}
		}   
		.td-hid {color:$color-dark;}
	}
}
/*---------------------------------------------------------------------------------------------------------*/
.options1_block{position:relative; margin-top: 8px;}
.check_blocks{position:relative;     margin-bottom: 18px;}
.check_block{    margin-bottom:10px;  clear: both;
	&:after{display:block; clear:both; content:'';}
	label{font-size:11px; font-weight: 400; cursor: pointer;
		span{overflow: hidden;    line-height: 1.2; display: block;}
	}
}

.days_block_txt{font-size: 11px;     line-height: 1.4; margin-bottom: 10px;}
.day_input{    max-width: 262px;
	.t-inp{}
}
.radios_block{position:relative; margin-bottom: 10px; 
	
}
.radio_block{clear: both;  margin-bottom: 10px;
	&:after{display:block; clear:both; content:'';} 
	label{font-size:11px; font-weight: 400; cursor: pointer;
		span{overflow: hidden;    line-height: 1.2;  display: block;}
	}
}
.range_blocks{position:relative;
	&:after{display:block; clear:both; content: '';}
}
.range_block{float: left; width: 46%; margin-left:8%;     margin-bottom:14px;
	&:nth-child(2n+1){margin-left: 0;}
}
.range_input{margin-bottom: 13px;}
.sur_block{position:relative;     margin-top: -4px;
	.form_row{margin-bottom:10px;}
	.btn{    margin-top: 20px; width: 99%;     height: 40px; font-size: 12px; font-weight: bold;}
	.t-inp{font-size:11px;}
}
.min_max_block{    margin-bottom: 24px;  margin-top: -2px;
	.check_block{    margin-bottom: 8px;}
}

.questions_search{position:relative; max-width:447px; height:40px; border:1px solid #9fb3c3;     margin-top: 35px;     margin-bottom: 30px;
	&:after{display:block; clear:both; content:'';}
	.search-btn{width:31px; height:38px; position:absolute; top:0; right:0; left:auto;}
}
.quest_input_search{width:100%; height:38px; border:none; outline:none; font-size:11px; padding:4px 31px 4px 9px;}

.quest_accord{position:relative; max-width:446px;}
.quest_accord_item{border-bottom:1px solid #e7eaef;     margin-bottom: -2px;
	&:last-child{border-bottom:none;}
}
.quest_accord_title{position:relative; display:block; cursor:pointer; font-size:13px; font-weight:400; padding: 11px 10px;     transition: all 0.16s linear;
	.icon-arr-down{position:absolute; top:50%; right: 12px; transform:translateY(-50%);}
}
.quest_accord_in{font-size:12px; color:#000; line-height:1.5; display:none; padding: 1px 5px 15px 10px;
	p{padding:0; margin:0;}
}

.quest_accord_title.active{font-weight:bold;  
	.icon-arr-down{transform:rotate(-180deg) translateY(40%);}
}



.scripts_blocks{position: relative; max-width:666px;     margin-top: 41px;
	&:after{display:block; clear:both; content:'';}
}
.scripts_block{float:left; width:49%; position:relative; margin-left:2%;  margin-bottom:3%; transition: all 0.3s linear; background-color: #f8fafb; height:100px;     padding: 32px 15px 15px 23px;
	&:nth-child(2n+1){margin-left:0;}
}
.scripts_block_ico{float: left; margin-right: 22px; width:36px; height: 36px; border-radius: 50%; border:2px solid #9fb3c3; position:relative;
	img{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
}
.scripts_block_link{overflow: hidden;     padding-top: 12px;
	a{font-size: 14px; color:$title-color; border-bottom: solid 1px $color-bord; display:inline-block;   font-weight: bold; line-height: 16px;
		&:hover{color: $color-dark;border-color: transparent;}
		&:active {color: $color-gray;}
	}
}

.back_link{position:relative; margin-top: -26px;     margin-left: 4px; margin-bottom: 8px;
	.icon-arr-down{position:relative;     margin-right: 2px;
		&:before{    transform: rotate(135deg); width:8px; height:8px;     margin-top: -2px;}
	}
	a{ position:relative; font-size: 11px; color:#687f91;}
}
.one_cont_block{position:relative;
	&:after{display:block; clear:both; content:'';}
	h1{font-size: 20px; border-bottom:1px solid $color-bord; padding-bottom:14px; margin-bottom:7px;     padding-left: 2px;}
}
.one_script_items{position:relative;     max-width: 540px;
	&:after{display:block; clear:both; content:'';}
}
.one_script_item{position:relative;  padding-left: 2px;      margin-bottom: 17px;
	h2{font-size: 16px;     margin-bottom: -5px;  }
}
.one_script_txt{font-size: 13px;    margin-bottom: 9px;   line-height: 1.6;
	p{padding: 0; margin: 0;  margin-bottom: 6px;}
}
.full_link{
	a{display:inline-block; font-size: 11px; border-bottom:1px dotted #cacaca; color:$text-color;
		&:hover{border-bottom:transparent;}
	}
}

.new_block{position:relative; font-size: 12px; max-width:413px; padding-top: 12px;     line-height: 1.42;
	&:after{display:block; clear: both; content:'';}
	.date{margin-bottom:11px;}
	p{margin:0; padding:0;     margin-bottom: 12px; padding-left: 2px;}
}
.date{font-size: 12px;  color: #687f91;}

.news_block{position:relative; padding-top: 15px; max-width: 412px;}
.new_item{position:relative;     margin-bottom: 20px; font-size:11px;     line-height: 1.4;
	p{padding:0; margin:0; margin-bottom:10px;}
	.date{font-size:11px; color: #687f91; position:relative;     margin-bottom: 1px;
		span{display:inline-block; position:relative; width:6px; height:6px; border-radius: 50%;   background-color: $color-pink; margin-left: 7px;}
	}
}
.new_title{    margin-bottom: 5px; font-size: 14px;
	a{  color: #687f91;  font-weight: 400;  border-bottom:1px solid #687f91;
		&:hover{border-bottom-color:transparent;}
	}
}

.new_item_active{
	.new_title{
		a{font-weight: bold;}
	}
}
.bottom_icon{text-align: center;     padding: 50px 0;
	img{width:33px; height:33px; display:inline-block;}
}

.methods_block{position:relative;     margin-top: -11px;     max-width: 682px;
	&:after{display:block; clear: both; content:'';}
}
.method_block{width: 47.5%; margin-left:3%; margin-bottom:3%; float: left; text-align:center; font-size:11px;     line-height: 1.37; padding: 26px 38px 10px; background-color: #f8fafb; height: 120px;
	&:nth-child(2n+1){margin-left:0;}
	p{margin: 0; padding:0;}
}
.method_block_title{margin-bottom: 7px;
	a{display:inline-block; border-bottom: solid 1px $color-bord; font-size:16px; font-weight: bold; color:#687f91; line-height: 1.25;
		&:hover{border-bottom-color:transparent;   color:#687f90;}
	}
}

.infocenter_top{position:relative;
	&:after{display:block; clear: both; content:'';}
}

.notification_blocks{position:relative;     max-width: 668px; margin-top: 35px;
	&:after{display:block; clear:both; content:'';}
}
.notification_left{float: left; width:100%; padding-right: 260px}
.notification_line{    margin-bottom: 26px;     clear: both;
	.date{    font-size: 11px;     margin-bottom: 1px;
		span{width:6px; height:6px; border-radius: 50%; display:inline-block; margin-left: 6px; background: $color-pink; vertical-align: top; margin-top: 5px;}
	}
}
.notification_line_ico{float: left; width:46px; height:46px; border:2px solid $color-bord; border-radius: 50%; position:relative; opacity: 0.5; margin-right:10px;
	.icon{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); display:block;
		&:before{opacity: 0.5;}
	}
}
.notification_line_cont{overflow: hidden;}
.notification_line_title{
	a{font-size:14px; color: #687f91; font-weight: bold; border-bottom:1px solid #687f91;
		&:hover{border-bottom-color:transparent;}
	}
}
.notification_line.notification_line_last{
	.notification_line_title{opacity: 0.5;
		a{font-weight: 400;}
	}
	.date{opacity: 0.5;}
}
.notification_right{ width:233px; position:absolute;     top: 1px; right:0;}
.notif_sel{    margin-bottom: 20px;}
.setting_notif{border:1px solid $color-bord;     padding: 19px 27px 28px 21px;}
.setting_notif_title{font-size:14px; line-height: 1.14; font-weight: bold;     margin-bottom: 12px;}
.setting_notif_txt{font-size:11px; line-height: 1.4;     margin-bottom: 9px; overflow: hidden;     height: 30px;}
.setting_notif_link{display:inline-block; font-size:11px; color: #687f91; border-bottom:1px solid #687f91;
	&:hover{border-bottom-color:transparent;}
}
.notification_top{display:none;     margin-bottom: -11px;
	.setting_notif{padding:0; border:none;}
	.setting_notif_link{display:block; box-shadow: 1px 1px 0 0 #9fb3c3; text-align:center; border:1px solid #9fb3c3; font-weight:bold; font-size:12px; background: #fff; height:40px; width:100%; line-height: 40px;}
	.setting_notif_txt{font-style: italic;     margin-bottom: 10px;}
	.notif_sel{    margin-bottom: 10px;}
}

.contacts_block{position:relative; max-width:406px;     padding-top: 2px;
	&:after{display:block; clear:both; content:'';}
}
.contact_block{position:relative; border-bottom:2px solid #eaeff3; padding-bottom: 20px;     margin-bottom: 8px;
	&:after{display:block; clear:both; content:'';}
	&:last-child{border-bottom:none;}
	h2{font-size: 16px;    margin-bottom: 3px;}
	a{text-decoration:none;     color:$text-color;}

}
.contact_athor{overflow: hidden; 
	p{padding:0; margin:0;}
}
.contact_athor_ico{float: left; overflow: hidden; margin-right: 13px; width:50px; height:50px; border-radius: 50%; position: relative;
	img{width: 100%;}
}
.contact_athor_inf{overflow: hidden;     padding-top: 7px;
	a{text-decoration:none;     color: $text-color;}
}
.contact_block_lines{margin-top: -5px;     margin-bottom: -15px;}
.contact_block_line{overflow:hidden; font-size:12px;         margin-bottom: 14px;
	h3{padding:0; margin:0; font-weight: bold;     font-size: 12px;}
	p{padding:0; margin:0;}
}
.c_inf{font-style: italic; font-size: 12px; color:$color-black;      line-height: 1.45;     margin-top: -6px;margin-bottom: 20px;}
.contacts_form{    max-width: 331px;
	.form-row{}
	textarea{    height: 80px; resize:none; position:relative; z-index:10;}
	.btn{width:100%;     height: 50px;     font-weight: bold;     line-height: 50px;}
}

.method_block_cont{position:relative;
	&:after{display:block; clear: both; content:'';}
}
.method_l_info{height:70px; padding:30px 55px 28px 55px;  background-color: #f8fafb; border:1px solid $color-bord; line-height: 1.2; font-size: 11px; font-style: italic; position:relative;
	&:before{width:32px; height: 32px; content:''; position:absolute; left:13px; top:50%; transform:translateY(-50%); background: url(../img/inf_ico.jpg) no-repeat 0 0;}
}
.j_block{margin-bottom:10px;}
.j_block_lines{border:1px solid $color-bord; padding:9px; background: #f8fafb;}
.j_block_line{border-bottom:1px solid$color-bord;
	&:last-child{border-bottom:none;}
	.j_link{float:right; width:72px;
		a{display:inline-block; color: #687f91; border-bottom:1px dotted #687f91; font-size: 11px;
			&:hover{border-bottom-color:transparent;}
		}
	}
	.j_name{float: left; width:126px; font-size: 11px; font-weight: bold;}
	.j_cont{overflow: hidden;
		a{color: #687f91;}
	}
}
.method_tables{position:relative;
	&:after{display:block; clear: both; content:'';}
}
.method_table_block{position:relative;
	&:after{display:block; clear: both; content:'';}
	h3{font-size: 14px; line-height: 1.29;}
}
.method_table{width:100%; border-collapse: collapse;
	th{font-size: 11px; color: $text-color; font-weight: bold;   background-color: #e7eaef;}
}

.mathod_tabs_block{position:relative;
	&:after{display:block; clear:both; content:'';}
}
.code_block{position:relative;
	&:after{display:block; clear:both; content: '';}
}
code{display:block; text-align:left; line-height:2;
	p{padding:0; margin:0 0 10px 0;}
}

.tabs_block_in{position:relative;
	&:after{display:block; clear:both; content:'';}
}
/*-----------------------------------------------------------------------------*/
.offer_blocks{position:relative;     padding-top: 16px;     max-width: 666px;
	&:after{display:block; clear:both; content:'';}
}
.offer_block{position:relative; border:1px solid $color-bord;     padding: 23px 20px 27px 28px;     margin-bottom: 30px;
	&:after{display:block; clear:both; content:'';}
	.btn{height: 26px; width: 97px; font-size: 11px; font-weight: 400;}
}
.offer_block_img{float:left; width:136px; position:relative;     margin-right: 34px;
	&:before{content:''; display:block;     padding-bottom: 72%;}
	img{position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
}
.offer_block_cont{overflow: hidden;}
.offer_block_title{    margin-bottom: 2px;
	a{font-size:14px;  color: #687f91; font-weight: bold;}
}
.offer_block_txt{line-height: 1.4;     font-size: 11px; margin-bottom: 11px;}

.offer_container{position:relative; padding-right: 258px; max-width: 668px;     margin-top: -3px; 
	&:after{display:block; clear: both; content: '';}
}
.offer_des{overflow: hidden;     margin-bottom: 8px;
	h2{font-size: 16px;     margin-bottom: -6px;}
	.list{
		li{padding-left:16px; list-style:none; position:relative; line-height: 1.25; font-size: 12px;color: $color-black; position:relative;     margin-bottom: 10px;
			&:before{width:14px; height:1px; font-size: 12px; color: #e2e9ee; content:''; position:absolute; top:6px; left:0;}
		}
	}
	p{padding:0; margin:0;}
	.insr_block{    margin-top: 9px;
		.insr_title{font-size: 12px;width: 73%;
			h3{font-size: 12px; font-weight: bold;     padding: 0;}
			span{font-weight: 400;}
		}
		.insr_link{width:27%;}
		.insr_block_line{    padding: 14px 0 8px;}
	}
}
.offer_c_right{position:absolute; top:19px; right:0; border:1px solid $color-bord; width:229px;       padding:20px 29px 29px 28px;}
.offer_c_right_ico{text-align:center; position:relative; width:170px; height:86px;     margin-bottom:16px;
	img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
}
.div_offer_deses{border-top:2px solid #eff2f4; overflow: hidden;}
.div_offer_des{padding: 6px 0; font-size:11px; border-bottom:2px solid #eff2f4;
	.tel_link{border-bottom:none; text-decoration:none;}
		a{border-bottom:1px solid #687f91; color:#687f91;
		&:hover{border-bottom-color:transparent;}
	}
}
.div_offer_txt{line-height:1.64; font-size:11px;     padding-top:12px;}
/*-----------------------------------------------------------------------------*/

@media screen and (max-height: 690px) {

}
@media screen and (max-width: 1699px) {

}
@media screen and (max-width: 1347px) {


}
@media screen and (min-width: 1024px) {

}
@media screen and (max-width: 1023px) {


}
@media screen and (max-width: 1023px)  and (min-width: 768px){

}
@media screen and (max-width: 767px) {   
	
	.tabs{display:none;}
	.tabs_sel{display: block;     margin-bottom: 10px;}
	.modules_tabs_sel{display: block;}
	.cms_left_block h2{    line-height: 1.2;}
	.infocenter_cont_mob{background:#ffffff;     padding: 21px 10px 0; /*margin-left: -10px; margin-right: -10px;*/}
	.quest_accord{    padding-bottom: 11px; max-width:100%;}
	.quest_accord_title{border-top: 1px solid #e7eaef; border-bottom: 1px solid #e7eaef;  }
	.quest_accord_item{border:none; margin-bottom:-1px; }
	.questions_search{max-width: 100%;}

	.scripts_block{float: none; width:100%; margin-left: 0;}

	.back_link{margin-bottom: 12px;    margin-top: -21px; height: 40px; background-color: #e7eaef; margin-left: -10px; margin-right: -10px;   padding: 11px 13px;
		.icon-arr-down{
			&:before{width:10px; height:10px;}
		}
	}
	.infocenter_cont .one_cont_block h1{padding-left: 0px; border-bottom:none;       margin-bottom: 0px;  padding-right: 24px;     padding-bottom: 0px;}
	.one_script_item{    padding-left: 0px;     padding-right: 21px;     margin-bottom: 16px;}
	.one_script_item h2{      line-height: 1.2;  padding-right: 3px;}
	.one_script_txt p{    margin-bottom: 10px;}
	.one_script_items{    padding-bottom: 11px;}

	.spec_h1{    line-height: 1.2;}
	.new_block{    padding-top: 13px;     padding-bottom: 46px;
		.date{    margin-bottom: 10px;}
		p{    margin-bottom: 10px; padding-left:0;}
	}

	.news_block{    margin-top: -2px;     padding-top: 19px; padding-left: 9px; padding-right: 9px; padding-bottom: 17px;}
	.new_item .date{    margin-bottom: 2px;}

	.bottom_icon{display: none;}

	.insr_block{max-width:100%;}
	.insr_title{float: none; width:100%; margin-bottom: 15px;}
	.insr_title span{display:block;     margin-bottom: 4px;}
	.insr_link{float: none; width:100%;}
	.insr_link a{display:block; height:40px; width:100%;     font-size: 12px;     font-weight: bold; line-height: 40px; background: #fff; box-shadow: 1px 1px 0 0 #9fb3c3; text-align: center; border:1px solid #9fb3c3;}
	.insr_block_line+.insr_block_line{    padding-top: 21px;}

	.methods_block{max-width:100%; padding-bottom: 2px;}
	.method_block{    width: 48.5%;      padding: 16px 4px 10px;}

	.notification_right{display:none;}
	.notification_left{padding-right:0;}
	.notification_top{display:block;}

	.notification_blocks{ padding-bottom: 29px;}
	.notification_line_ico{    margin-right: 8px;     margin-top: 10px;}
	.notification_line_title a{    line-height: 1.3;}
	.notification_line .date{     margin-bottom: 2px;}
	.notification_line{margin-bottom: 18px;}

	.contacts_block{padding-top:0;     margin-top: -2px;}
	.contact_block h2{    margin-bottom: -3px;}
	.contact_block_lines{margin-top: 0px;     margin-bottom: -4px;}
	.c_inf{    margin-top: -3px;}
	.contacts_form textarea{    height: 90px;}
	/*----------------------------------------------------*/
	.offer_blocks{padding-bottom:10px;}
	.offer_block{padding: 0;     margin-bottom: 12px;}
	.offer_block_img{width:100%; margin-right:0; float:none;}
	.offer_block_img:before{padding-bottom: 36%;}
	.offer_block_img img{    width: 40%;}
	.offer_block_cont{border-top: 1px solid #dde3e8;      padding: 10px 9px 6px 8px;}
	.offer_block .btn{    width: 100%;}

	.offer_des .insr_block .insr_title h3{font-size:16px; line-height: 1.13;}
	.offer_des .insr_block .insr_block_line{
		&:first-child{border-bottom:none;}
	}
	.offer_des .insr_block .insr_title span{font-weight: bold;     margin-bottom: -1px;}
	.offer_des .insr_block .insr_link{width:100%;     margin-top: -2px;
		a{    height: 26px;     line-height: 26px;     font-weight: 400;     font-size: 11px;}
	}

	.offer_c_right{position:relative; top:auto; right:auto; width:100%; margin-top: 17px;     padding: 0; padding-bottom: 24px; margin-bottom: 9px;}
	.offer_c_right_ico{width: 100%;     height: 96px; margin-bottom: 4px;}
	.offer_container{padding-right:0;}
	.div_offer_des{    padding: 6px 0px; margin: 0 19px;}

	.div_offer_txt{padding: 1px 19px 0;}
	.of_h2{display:none;}
	.offer_des .insr_block{    margin-top: 20px; padding-bottom:0;}
	.offer_des .insr_block .insr_block_line:first-child{    margin-bottom: -6px;     padding: 9px 0 0 0;     margin-top: 1px;}
	.offer_des .insr_block .insr_block_line{    padding: 1px 0 26px;}
	.offer_des .insr_block .insr_block_line:last-child{padding-top: 20px;}
	.offer_container{    margin-bottom: 13px;}




	
  
}
@media screen and (max-width: 640px) {  
	.cms_modules_blocks{padding-right: 0;}
	.cms_left_block{max-width:100%; float:none; }
	.cms_right_block{margin:0; padding:0; position: relative; top:auto; left:auto; width:100%;
		.btn{width:100%;}
	}
}
@media screen and (max-width: 400px) {  
	

	.ins_modul_lines{margin-bottom: 18px;}
	.ins_modul_line{display:block; height:auto; border-bottom:none;     margin-bottom: 9px;}
	.ins_modul_ico{display:block;  height: 31px;}
	.ins_modul_cont{display:block;}
	.integ_opport{     padding: 9px 20px 22px;}
	.cms_right_block{width:100%;  
		.btn{width:100%;}
	}
	.infocenter_cont h1{padding-bottom: 11px;}
	.integ_opport_dec{    margin-bottom:10px;}

	.questions_search{margin-top:20px; margin-bottom:39px;}
	
	.quest_accord_title{   font-size: 11px; padding: 11.5px 0px;}
	.quest_accord_item.active{
		.quest_accord_title{font-weight: 400;}
	}
	.quest_accord_in{    padding: 11px 5px 12px 0px;     line-height: 1.7;     font-size: 11px;}

	.scripts_blocks{  margin-top: 0px; padding-top: 10px;}
	.scripts_block{height: 121px;}
	.scripts_block_ico{display: none;}
	.scripts_block_link{width: 100%; text-align: center;     padding-top: 16px;
		a{text-align: center; font-size: 18px; line-height: 22px;}
	}

	.news_block{ margin-left: -10px; margin-right: -10px; }

	.insr_block{    margin-top: 30px;}
	.insr_block_line{    padding: 12px 10px 17px;}
	
	.method_block{float: none; width:100%; margin-left:0; padding: 26px 38px 10px;}
	.method_block_title{    margin-bottom: 6px;}

	.infocenter_top{border-bottom:11px solid $text-color;     padding-bottom: 20px; margin-left: -10px; margin-right: -10px; padding-left:10px; padding-right: 10px;}

	.notification_blocks{margin-top: 19px; padding-bottom: 29px;}

	

}


